// Colors
$color-dark-1 : #1E2019;
$color-light-1:#D3D0CB;
$color-border-1 : #E2C044;
$color-main-panel:#E9EBEC;
$color-cta:#5BC0EB;
$color-user-light:#FCF6EE;
$color-user-dark:#F6E3CB;
$color-project-light:#F0D0A8;
$color-project-dark:#EABD85;
$color-idea-light:#E7B373;
$color-idea-dark:#E1A051;
$color-comment-light:#DE973F;
$color-comment-dark:#DC8D2E;
$color-btn-1 : #E55934;
$color-btn-2 : #9BC53D;