// Colors
$color-primary: #DDE3E3;
$color-primary-light: #F4F6F6;
$color-primary-dark: #A5B6B6;

$color-secondary: #0C1821;

$color-border-1:#E68992;
$color-border-2:#004385;

$color-heading-primary:#E6AF2E;
$color-heading-secondary:#004385;
$color-heading-tertiary:#41BBD9;

$color-white:#fff;
$color-black:#000;

// Fonts
$default-font-size: 1.6rem;