.main {
    padding: 4rem 0;
    display: flex;
}

.aside {
    background-color: $color-primary-dark;
    flex: 0 0 25%;
    padding: 2rem;

    &__title {
        font-size: 3rem;
        margin-bottom: 3rem;
    }

    &__filter-title {
        margin: 1.5rem 0;
    }

    ul {
        list-style: none;
        li {
            margin:1rem 0;
        }
    }
}
