.row {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    transition:all .5s ease;

    &:not(:last-child) {
        margin-bottom: 1rem;;
    }
    // 2 Column Style
    .col-md-2 {
        flex: 0 0 100%;
        max-width: 100%;
        &:not(:last-child) {
            margin-right: 0;
            margin-bottom: 1rem;
        }
        @include respond(tab-port) {
            flex: 0 0 50%;
            max-width: calc(50% - 1rem);
            &:not(:last-child) {
                margin-right: 1rem;
                margin-bottom: 0rem;
            }
        }
    }

    .col-2 {
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
        @include respond(phone) {
            flex: 0 0 50%;
            max-width: calc(50% - .5rem);
            &:not(:last-child) {
                margin-right: 1rem;
                margin-bottom: 0;
            }
        }
    }

    // 4 Column Style

    .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
        &:not(:last-child) {
            margin-right: 0;
            margin-bottom: 1rem;
        }

        @include respond(phone) {
            flex: 0 0 50%;
            max-width: calc(50% - 1rem);
            &:nth-child(odd) {
                margin-right: 1rem;
            }
            &:not(:last-child) {
                margin-bottom:1rem;
            }
        }
        @include respond(tab-port) {
            flex: 0 0 25%;
            max-width: calc(25% - 1rem);
            &:not(:last-child) {
                margin-right: 1rem;
                margin-bottom: 0;
            }
        }
        
    }

}

