.header {
    min-height:25vh;
    height:25vh;
    background-image: linear-gradient(to right bottom,
    rgba($color-black,.3),
    rgba($color-black,.3)
    ),
    url("../img/header-large.jpg");
    background-size: cover;
    background-position: center;
    border-bottom: 3px solid $color-border-1;
    position: relative;

    &__logo-box {
        @include centerAbsolute;
    }

    &__logo {
        text-transform: uppercase;
        color:$color-primary;
        line-height: 1.2;

        animation:zoomIn 1.4s ease-out;

        &--main {
            font-size:3rem;
            color:$color-heading-primary;
            letter-spacing: 1rem;
            text-shadow: .5rem 1rem 2rem rgba($color-primary,.2);
            display:block;
            font-weight:400;
            @include respond(phone) {
                font-size:5rem;
                letter-spacing: 2rem;
            }
        }
        &--sub {
            display:block;
            font-weight:400;
            font-size:1.4rem;
            letter-spacing: .45rem;
            @include respond(phone) {
                letter-spacing: .6rem;
                font-size:2.8rem;
            }
        }
    }
}