.idea-form {
    margin: 4rem auto 0 auto;
    width:80%;
    ul {
        list-style: none;
        background-color: rgba($color-white,.7);
        border-radius: 5px;
        margin-bottom: 2rem;
    }

    li {
        padding: 1rem;
    }

    label {
        display: block;
        font-size: 1.2em;
        color: $color-heading-secondary;
        padding-left: 5px;
    }

    input,
    textarea {
        width: 100%;
        padding: 5px;
        resize: vertical;
        background-color: rgba($color-white,.3);
        border: 2px solid $color-heading-primary;
        border-radius: 5px;
        transition:all .2s;
        &:focus {
            outline: none;
            border-color:$color-border-1;
        }
    }

    .btn {
        font-size: 2rem;
        display: inline-block;
        padding: 10px 20px;
        color: $color-heading-primary;
        font-weight: bold;
        transition: all .3s ease;
        border: 2px solid #666;
        border-radius: 5px;
        &:hover {
            background: #666;
            color: #fff;
        }
    }
    .center {
        display: table;
        margin: 0 auto;
    }
}