.card {
    width: 100%;
    height: 30rem;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    transition:all .5s ease-in;
    
    &:hover {
        transform: translateY(-5px) scale(1.02);
        box-shadow: 0 1rem 2rem rgba($color-black,.15);
    }
    &__background {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__text-box {
        @include textboxBottom($padding:3px);
    }
    &__title {
        @include title($font-size:1.6rem, $font-weight:400, $color:$color-heading-secondary);

        @include respond(tab-land) {
            @include title($font-size:2rem, $font-weight:400, $color:$color-heading-secondary);
        }
    }
    &__detail {
        @include title($font-size:1.4rem, $font-weight:400, $color:$color-primary-light);
        @include respond(tab-land) {
            @include title($font-size:1.6rem, $font-weight:400, $color:$color-primary-light);
        }
    }
}

.parent,
.ideas {
    width:100%;
    text-align: center;
    margin-top: 4rem;
}

.card_paginations {
    background-color: beige;
    padding:1rem 1.5rem;
    border:none;
    &:not(:last-child) {
        margin-right: 1rem;
    }
}