body {
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    line-height: 1.7;
}

.heading-primary {
    color:$color-dark-1;
    font-size:4rem;
    text-transform: uppercase;
    font-weight:400;
    
}
