.section-upload {
    width:100%;
    height:40vh;
    background-color: $color-project-light;
    position: relative;
}

.section-user {
    width:100%;
    min-height:80vh;
    background-color: $color-project-dark;
    position: relative;
}